{% if post.layout != post %}
  {% assign words = post.content | strip_html | number_of_words %}
  {% if words < 180 %}
    کمتر از ۱ دقیقه مطالعه
  {% elsif words < 360 %}
    ۱ دقیقه مطالعه
  {% else %}
    {{ words | divided_by:180 }} دقیقه مطالعه
  {% endif %}
{% endif %}

{% if post.layout == post %}
  {% assign words = content | number_of_words %}
  {% if words < 180 %}
    کمتر از ۱ دقیقه مطالعه
  {% elsif words < 360 %}
    ۱ دقیقه مطالعه
  {% else %}
    {{ words | divided_by:180 }} دقیقه مطالعه
  {% endif %}
{% endif %}
